.form {
    display: flex;
    alignItems: center;
    padding: 20px;
    width: 100%;
}

.input {
    width: 30%;
    height: 30px;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.add-btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 40px;
}